.hero {
    height: auto;
    position: relative;
    width: 100vw;

    img {
        height: auto;
        width: 100vw;

    }

    &__text {
        position: absolute;
        top: 2%;
        left: 20px;
        line-height: 1.2;
        transform: translateY(10%);
        opacity: 0;
        transition: all 0.9s ease;

        &.show {
            transform: translateY(0%);
            opacity: 1;
        }

        h1 {
            font-size: 24px;
            letter-spacing: 1px;
            font-weight: 500;
        }

        @include max-tablet {
            span.break-mobile {
                display: block;
            }
        }

        @include min-tablet {
            top: 60%;
            left: 5%;

            h1 {
                font-size: 36px;
                color: white;
            }

            span.break-tablet {
                display: block;
            }

        }

        @include desktop {
            top: 50%;

            h1 {
                font-size: 48px;
                line-height: 60px;

            }
        }


    }
}