.logo{
    height:60px;
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    &--svg{
        height:11px;
        width:220px;
    }
    @include tablet{
        justify-content: start;
        margin-left:-15px;
    }
}